@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
    --background: linear-gradient(135deg, #c5a7987e 0%, #a878617e 100%);
    --color-primary:#cf4f13;
    --color-secondary:#a87861;
    --boton-padding: 20px 40px;

    /* --background: linear-gradient(135deg, #cf4f137e 0%, #a878617e 100%);
    --color-primary:#cf4f13;
    --color-secondary:#a87861;
    --boton-padding: 20px 40px; */
}

body {
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    /* background: gray; */
    overflow: hidden;
    padding: 10px 0;
    max-width: 1200px;
}

.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}
.hero{
    height: 85vh;
    /* background-image: var(--background), url('../assets/1web.jpg'); */
    background-image: url('../assets/1web.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
.hero .container{
    padding: 0;
}
.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}
.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}

.nav__items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}
.nav__items--cta{
    border: 1px solid #fff;
}
.nav--footer{
    padding: 10px;
}

.hero__container{
    display: flex;
    height: calc(100vh - 100px);
    align-items: center;
    color: #fff;
}

.hero__texts{
    width: 80%;
    margin-bottom: 50px;
}
.hero__title{
    font-size: 3.2rem;

}
.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}
.hero__cta{
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
}

.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    
}

.presentation{
    padding-top: 0;
    text-align: left;
}

.presentation_picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

.presentation__copy{
    width: 80;
    margin: 0 auto;
    
}

.presentation__cta{
    display: inline-block;
    margin-top: 5px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 30px;
}
.about {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}
.about__img{
    text-align: center;
}
.about__img--left{
    text-align: center;
    
}

.about__picture{
    max-width: 60%;
}

.about__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}
.projects{
    background: #f2f2f2;
}

.projects__grid{
    display: grid;
    height: 550px;
    grid-template-areas: 
    "6web 7web 8web"
    "6web 9web 10web";
    gap: 10px;
}

.projects__item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projects__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.projects__item:nth-of-type(1){
    grid-area:6web;
}

.projects__item:nth-of-type(2){
    grid-area:7web;
}
.projects__item:nth-of-type(3){
    grid-area:8web;
}
.projects__item:nth-of-type(4){
    grid-area:9web;
}

.projects__hover{
    position: absolute;
    background: #d65f288c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.projects__item:hover .projects__hover{
    transform: translateX(0%);
}

.projects__icon{
    margin-top: 10px;
    font-size: 30px;
}

.testimony__grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.testimony__item{
    width: 95%;
    margin: 0 auto;
    background-color: var(--color-secondary);
    box-shadow: 0 8px 10px rgba(66,66,66, .5);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 50px;

}

/* .testimony__img{
    width: 100%;
} */

.testimony__person{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.testimony__img{
    width: 100px;
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 30px;
}
.testimony__name{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.testimony__verification{
    color: #eafaa0;
    font-weight: 700;
}

.testimony__review{
    font-weight: 300;
}
.footer{
    background: var(--color-primary);
}
.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}
.footer__title{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer__icons{
    display: flex;
    justify-content: space-evenly;
}

.footer__container-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
}

.footer__icon{
    color: inherit;
    font-size: 30px;
    text-decoration: none;
    
}
.fab.footer__icon{
    line-height: 60px;
}

@media screen and (max-width: 800px){
    :root{
        --boton-padding: 18px 40px;
    }
    .nav{
        justify-content: space-around;
    }

    .nav__items--cta{
        border: none;
    }

    .nav__items{
        font-weight: 400;
        border-bottom: 1px solid #fff;
        margin-right: 0;
    }

    .nav__items--footer{
        border: none;
    }

    .hero__texts{
        width: 100%;
        margin-bottom: 80px;
    }
    .hero__title{
        font-size: 2.5rem;
    }
    .hero__subtitle{
        font-size: 1.5rem;
    }
    .presentation__copy{
        width: 100%;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about.container{
        padding-top: 10px;
    }
    .about__img--left{
        text-align: center;
    }
    .about__texts:last-child{
        grid-row: 3/4;
    }
    .projects__grid{
        grid-template-areas:
        "6web 6web 7web 7web"
        "6web 6web 8web 8web"
        "9web 9web 10web 10web";
    }
    /*testimony*/
    .testimony__grid{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    /*Footer*/
    .footer__grid{
        grid-template-columns: 1fr;
    }
    .footer__contact{
        grid-row: 1/2;
    }

    @media screen and (max-width: 500px){
        :root{
            --boton-padding: 18px 35px;
        }
        .subtitle{
            font-size: 2rem;
            margin-bottom: 20px;
        }
        .nav{
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 10px;
        }
        .nav__items{
            padding: 0 10px;
            border: 0;
        }
        .hero__texts{
            text-align: center;
            margin-bottom: 100px;
        }
        .hero__title{
            font-size: 2rem;
        }
        /* about */
        .presentation_picture{
            width: 120px;
            height: 120px;
        }

        .about{
            row-gap: 60px;
        }
        .about.container{
            padding-top: 10px;
        }

        /* My projects */
        .projects__grid{
            grid-template-areas:
            "6web"
            "7web"
            "8web"
            "9web"
            "10web";
            height: auto;
            grid-template-rows: repeat(5, 250px);
            grid-auto-rows: 250px;
            gap: 10px;
        }

        /* Testimony */
        .testimony__item{
            padding: 30px 15px;
        }
        .testimony__person{
            flex-direction: column;
        }
        .testimony__texts{
            text-align: center;
        }
        .testimony__img{
            margin: 0;
            margin-bottom: 20px;
        }
    }
    
}

/* email */

.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
    padding: 20px 0 30px 0;
  }
  
  .contact .info-box i {
    font-size: 32px;
    color: #106eea;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #b3d1fa;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
    padding: 30px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #106eea;
  }
  
  .contact .php-email-form input {
    padding: 20px 15px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form button[type="submit"] {
    background: #106eea;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #3b8af2;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  